// AddEvent script
script(type='text/javascript' src='https://addevent.com/libs/atc/1.6.1/atc.min.js' async='' defer='')
// Button code
button.primary-button.addeventatc(title=$i18n.addevent data-styling='none')
  i.fa.fa-calendar-o &nbsp;&nbsp;
  != $i18n.addevent
  span.start 05/20/2021 09:00 AM
  span.end 05/21/2021 07:00 PM
  span.timezone Europe/Paris
  span.title ADDON Conferences
  span.description Conférences et ateliers dédiés à la création vidéoludique. Voir https://addon.events/
  span.location Rennes, France
br
br
