.archives
    h2= $i18n.archives.title
    ul
        li
            strong 2020
            a(href="https://www.youtube.com/watch?v=RjxmjxWTmRc&list=PLX29Y0Ooufyk4IyDh1ALbSaNOL8KbXwwF")= $i18n.archives.conferences
        li
            strong 2019
            a(href="schedule-2019.html")= $i18n.archives.schedule
            a(href="speakers-2019.html")= $i18n.archives.speakers
            a(href="https://www.youtube.com/watch?v=slAMBzaHOqo&list=PLX29Y0Ooufyl0dawR4YFDEQcQ20KkCo0l")= $i18n.archives.conferences
            a(href="photos-2019.html")= $i18n.archives.photos
        li
            strong 2018
            a(href="schedule-2018.html")= $i18n.archives.schedule
            a(href="speakers-2018.html")= $i18n.archives.speakers
            a(href="conferences-2018.html")= $i18n.archives.conferences
            a(href="photos.html")= $i18n.archives.photos
        li
            strong 2017
            a(href="schedule-2017.html")= $i18n.archives.schedule
            a(href="speakers-2017.html")= $i18n.archives.speakers
