// Mailchimp Signup Form
form.mailing-signup(action='https://atlangames.us8.list-manage.com/subscribe/post?u=55f13ed2e1a090bac58ccef03&id=9705d7ebd7' method='post' name='mc-embedded-subscribe-form' target='_blank' novalidate='')
  div
    label(for='mce-EMAIL')= $i18n.mailing.title
  div
    input#mce-EMAIL.email(type='email' value='' name='EMAIL' placeholder=$i18n.mailing.email required='')
    button.primary-button(type='submit' name='subscribe')= $i18n.mailing.submit
  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
  div(style='position: absolute; left: -5000px;' aria-hidden='true')
    input(type='text' name='b_55f13ed2e1a090bac58ccef03_9705d7ebd7' tabindex='-1' value='')
