// Mailjet Signup Form
iframe(class="mj-w-res-iframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/3NAc/ijC" width="100%")
script(type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js")
