//- Footer
footer
    .container
        .row
            .col-sm-12
                .copyright-text
                    != md($i18n.footer)

                ul.list-unstyled.list-inline.footer-social
                    li
                        a(href='https://www.facebook.com/Atlangames/', target='_blank')
                            i.fa.fa-facebook
                    li
                        a(href='https://twitter.com/ADDON_EVENT', target='_blank')
                            i.fa.fa-twitter
                    li
                        a(href='https://www.youtube.com/channel/UCcpBt3SmtbCJleRvT8yGbkw/playlists', target='_blank')
                            i.fa.fa-youtube
