-
    var langs = [{
        lang: 'en',
        region: 'UK',
        name: 'English'
    }, {
        lang: 'fr',
        region: 'FR',
        name: 'Français'
    }]

mixin flag(region)
    img(src='/static/images/flags/' + region + '.png')

#header-static
header#header
    nav#main-nav.navbar
        .container
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='.navbar-collapse', aria-expanded='false')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='./', data-scroll, data-toggle='collapse' data-target='.navbar-collapse.in')
                    img(src='/static/images/addon-logo.svg', alt=$i18n.header.brand)

            .collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right

                    //- Links to sections
                    //- Ids must be used as Pug filenames and as SASS classes
                    each id in ['concept', 'schedule', 'speakers', 'sponsors', 'photos', 'tickets', /* 'info' */]
                        li(class=( id == pageName ? 'active' : '' ), data-toggle='collapse', data-target='.navbar-collapse.in')
                            a(href='./' + id + '.html') #{$i18n.navbar[id]}

                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup=true, aria-expanded=false)
                            +flag($i18n.region)
                        ul.dropdown-menu
                            each l in langs
                                li
                                    a(href='/' + l.lang + '-' + l.region + '/')
                                        +flag(l.region)
                                        = l.name