/* Section Heading Style */
section {
  padding: 50px 0 80px 0;

  &.odd {
  }
  &.even {
    background: $darkColor2;
    color: $lightColor3;
    h1, h2 {
      color: $lightColor3;
    }
  }
  &.empty {
    padding: 0;
    height: 80px;
  }

  h1 {
    font-size: 1.8em;
    margin: 30px 0;
  }
  h2 {
    font-size: 1.5em;
    margin: 30px 0;
  }
}

@media (max-width: 1200px) {
  section {
    h1 {
      font-size: 1.6em;
      margin: 30px 0;
    }
    h2 {
      font-size: 1.3em;
    }
  }
}

@media (max-width: 991px) {
}

@media (max-width: 768px) {
  section {
    padding: 20px 0 50px 0;
    &.empty {
      padding: 0;
      height: 50px;
    }
  }
}

@media (max-width: 480px) {
  section {
    font-size: 0.9em;
  }
}
