/* Conferences section */

section.conferences {
  .gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    a {
      display: flex;
      margin-bottom: 20px;
      width: 100%;
      @media (min-width: 1200px) {
        width: 50%;
      }
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
      img {
        width: 240px;
        height: 138px;
        min-width: 240px;
        min-height: 138px;
      }
      span {
        padding: 0 20px;
        font-size: 0.9em;
      }
    }
  }
}
