section.intro {
  background: $darkColor1;
  padding: 150px 0;
  h1 {
    @extend .col-md-6;
    @extend .col-md-offset-3;
    @extend .col-sm-8;
    @extend .col-sm-offset-2;
    @extend .col-xs-10;
    @extend .col-xs-offset-1;
    img {
      width: 100%;
    }
    margin-bottom: 40px;
  }
  h2 {
    @extend .col-xs-12;
    font-size: 28px;
    color: $lightColor3;
    text-transform: uppercase;
    font-weight: 200;
    text-align: center;
    margin: 0.2em 0;

    span,
    sup {
      color: $lightColor2;
    }
    sup {
      font-size: 0.5em;
    }
    a {
      color: inherit;
      font-weight: inherit;
    }
  }

  .notice {
    width: 500px;
    max-width: 100%;
    margin: 50px auto 0 auto;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 25px;
    color: #eee;
  }
}

@media (max-width: 1200px) {
  section.intro {
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  section.intro {
    h2 {
      font-size: 25px;
    }
  }
}

@media (max-width: 480px) {
  section.intro {
    h2 {
      font-size: 20px;
    }
  }
}
