section.map {
    padding: 0;
    #map {
        height: 500px;
    }
    .map-marker, .map-marker-train {
        position: absolute;
        width: 36px;
        height: 36px;
        text-align: center;
        color: $primaryColor;
        font-size: 40px;
    }
    .map-marker-train {
        font-size: 35px;
    }
    .mapboxgl-popup-content {
        padding: 15px;
    }
    .map-popup {
        font-size: $font-size-base;
        font-family: $font-family-base;
        color: $text-color;
        padding: 0;
        h3 {
            font-size: 0.8em;
            margin: 0 0 10px 0;
        }
        p {
            font-size: 0.7em;
            margin: 0;
        }
    }

}
