/* Speakers section in homepage and speakers page */

section.partners {
  p {
    text-align: center;
    a {
      display: inline-block;
      margin: 30px 30px 0 30px;
      img {
        max-height: 90px;
        max-width: 250px;
      }
    }
  }
}
