/* Jobs Section */
section.presentation {
  .organizers {
    text-align: center;
    p {
      font-weight: bold;
      margin: 30px 0;
    }
    img {
      width: 80%;
      max-width: 200px;
    }
  }
}


@media (max-width: 991px) {
  section.presentation {
    .organizers {
      margin-top: 44px;
    }
  }
}
