/* Reassurement (icons and numbers) */
section.reassurement {
  text-align: center;
  font-size: 1.2em;
  i.fa {
    display: block;
    font-size: 2.1em;
    margin: 30px 0 20px 0;
  }
}

@media (max-width: 768px) {
  section.reassurement {
    font-size: 1.1em;
  }
}

@media (max-width: 480px) {
  section.reassurement {
    font-size: 0.8em;
  }
}
