/* Homepage's Schedule section*/
.home section.schedule {
  ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    max-width: 1000px;
    transform: translateX(-8px);
    li {
      display: inline-block;
      padding: 0 5px;
      width: 200px;
      height: 50px;
      line-height: 50px;
      margin-top: 30px;
      margin-left: 18px;
      border-radius: 50px;
      background: rgba(128, 128, 128, 0.2);
    }
  }
}

/* Schedule page */
section.schedule {
  .day {
    margin-bottom: 40px;
    .date {
      color: $primaryColor;
    }
    .activity {
      margin: 20px 0;
      border-bottom: 1px solid #efefef;
      .venue {
        font-size: 0.8em;
      }
    }
    .pricing {
      font-size: 0.8em;
      font-style: italic;
    }
  }
  #sched-iframe {
    margin-top: 50px;
  }
  .schedule-img {
    width: 100%;
    display: block;
    margin-top: 40px;
  }
}
