/* Speakers section in homepage and speakers page */

section.speakers {
  #sched-iframe {
    margin-top: 50px;
  }

  .speaker {
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 160px;
    img {
      max-width: 110px;
      border-radius: 50%;
    }
    .name {
      color: $lightColor1;
      font-size: 1.1em;
      font-weight: bold;
      white-space: nowrap;
    }
    .job,
    .company {
      font-size: 0.8em;
    }
    .subject {
      text-align: center;
      margin-top: 15px;
      .fa {
        color: $lightColor2;
      }
    }
  }

  .speaker2 {
    margin-top: 30px;
    margin-bottom: 50px;
    min-height: 160px;
    text-align: center;
    img {
      width: 100%;
      max-width: 250px;
    }
    .name {
      color: $lightColor1;
      font-size: 1.1em;
      font-weight: bold;
      white-space: nowrap;
    }
    .job,
    .company {
      font-size: 0.8em;
    }
    .subject {
      margin-top: 15px;
      .fa {
        color: $lightColor2;
      }
    }
  }
}
