/* Speakers section in homepage and speakers page */

section.sponsors {
  padding-bottom: 0;

  h1 {
    margin-bottom: 60px;
  }

  .sponsor {
    .type {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.2em;
    }

    .card {
      margin: 30px 0;
      border-radius: 3px;
      padding: 2em;

      .logo {
        text-align: center;
      }
      p {
        margin: 2em 0;
      }
      .links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 150px;
        margin: 0 auto;
        font-size: 1.5em;
      }
    }

    &.gold {
      .type {
        color: rgb(218, 191, 71);
      }
      .card {
        box-shadow: rgb(218, 191, 71, 0.8) 0px 10px 26px;
      }
    }
    &.silver {
      .type {
        color: rgb(168, 168, 168);
      }
      .card {
        box-shadow: rgba(168, 168, 168, 0.5) 0px 10px 26px;
      }
    }
  }
}
