/* Variables */

// Palette Colors, from lightest to darkest
$lightColor3: #ffffff;
$lightColor2: #00f0d2;
$lightColor1: #ff0064;
$primaryColor: #00013e;
$darkColor1: #00013e;
$darkColor2: #00013e;

// Texts
$muli: 'Muli', sans-serif;
$transition: 0.15s ease;
$headingcolor: $darkColor2;

// Bootstrap
$text-color: #727272;
$font-family-base: $muli;
$font-size-base: 20px;
$headings-color: $headingcolor;
$tooltip-color: $darkColor1;
$tooltip-bg: $lightColor2;
$tooltip-max-width: 300px;
$tooltip-arrow-width: 15px;

// Font Awesome
$fa-font-path: '/static/fonts';

/* Libraries */

// bower:css
@import '../../bower_components/magnific-popup/dist/magnific-popup.css';
@import '../../bower_components/animate.css/animate.css';
// endbower
// bower:scss
@import '../../bower_components/font-awesome/scss/font-awesome.scss';
@import '../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
// endbower

/* Custom SASS */

// Layout
@import 'layout/base';
@import 'layout/buttons';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/mailing';
@import 'layout/addevent';
@import 'layout/archives';

// Sections
@import 'sections/common';
@import 'sections/intro';
@import 'sections/conferences';
@import 'sections/map';
@import 'sections/partners';
@import 'sections/photos';
@import 'sections/presentation';
@import 'sections/reassurement';
@import 'sections/schedule';
@import 'sections/speakers';
@import 'sections/sponsors';
