mixin page(pageName, title, description)

    doctype html
    html(lang=$i18n.lang)
        head
            meta(charset='utf-8')
            meta(http-equiv='x-ua-compatible', content='ie=edge')
            - if (description != "")
                meta(name='description', content=description)
            meta(name='viewport', content='width=device-width, initial-scale=1.0')
            title= title

            //- Favicon
            link(rel='icon', type='image/png', href='/static/images/favicon.png')

            //- Google Fonts
            link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Muli:light,regular,medium,bold')
            link(rel='stylesheet', type='text/css', href='https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css')
            link(rel='stylesheet', type='text/css', href='/css/style.min.css?2')

            //- Chrome, Firefox OS and Opera
            meta(name="theme-color", content="#00013E")
            //- Windows Phone
            meta(name="msapplication-navbutton-color", content="#00013E")

            //- Open Graph
            meta(property='og:locale', content= $i18n.lang + '_' + $i18n.region)
            meta(property='og:type', content='website')
            meta(property='og:title', content=title)
            meta(property='og:site_name', content=title)
            meta(property='og:description', content=description)
            meta(property='og:url', content='https://addon.events/' + $i18n.lang + '-' + $i18n.region + '/')
            meta(property='og:image', content='https://addon.events/static/images/preview-og.jpg')

            //- Twitter
            meta(name='twitter:card', content='summary')
            meta(name='twitter:title', content=title)
            meta(name='twitter:description', content=description)
            meta(name='twitter:image', content='https://addon.events/static/images/preview-twitter.jpg')

        body(class=pageName)
            include ../layout/header
            block
            include ../layout/footer

            script(src='/js/combined.js')
            include ../layout/google-analytics
