mixin reassurement(id, icon)
    .col-xs-4(class='reassurement-' + id, data-toggle='tooltip', data-placement='bottom', title=$i18n.home.reassurements[id].tooltip)
        i.fa(class='fa-' + icon)
        span= $i18n.home.reassurements[id].label
