mixin speaker(data)
    .speaker.col-md-4.col-sm-6.col-xs-12
        img.col-xs-4(src='/static/images/speakers/' + data.id + '.jpg', alt='')
        .name.col-xs-8= data.name
        .job.col-xs-8= data.job
        .company.col-xs-8= data.company
        .subject.col-xs-12
            i.fa.fa-quote-left
            | &nbsp;&nbsp;
            = data.subject
            | &nbsp;&nbsp;
            i.fa.fa-quote-right
