mixin speaker2(data)
    .speaker2.col-md-4.col-sm-6.col-xs-12
        img(src='/static/images/speakers/' + data.id + '.jpg', alt='')
        .name= data.firstname + ' ' + data.name
        .job= data.job
        .company= data.company
        .subject
            i.fa.fa-quote-left
            | &nbsp;&nbsp;
            = data.bio
            | &nbsp;&nbsp;
            i.fa.fa-quote-right
