//- Intro

section.intro
    .container
        .row
            .col-md-12
                h1
                    img(src='/static/images/addon-logo.svg', alt=$i18n.home.title)
                    
            .col-md-12
                h2!= $i18n.home.intro.line1
                h2!= $i18n.home.intro.line2
                h2!= $i18n.home.intro.line3

                div.text-center
                    a.primary-button(href='./tickets.html')
                        i.fa.fa-ticket &nbsp;&nbsp;
                        | #{$i18n.ticketsButton}&nbsp;

        //- .row
        //-     .notice
        //-         p Merci d'avoir assisté à l'édition online d'ADDON !
        //-         p Vous pouvez retrouver ici toutes les conférences données lors de cette édition 2020 :
        //-         p
        //-             a(href="https://www.youtube.com/playlist?list=PLX29Y0Ooufyk4IyDh1ALbSaNOL8KbXwwF") https://www.youtube.com/playlist?list=PLX29Y0Ooufyk4IyDh1ALbSaNOL8KbXwwF
        //-         p See you in 2021 🤞