//- Map
#map
.map-marker
    i.fa.fa-map-marker
.map-marker-train
    i.fa.fa-train

.map-popup.map-popup-mda
    h3 Maison des associations
    p
        | 6 Cours des Alliés
        br
        | 35000 Rennes, France
