//- Partners logos and links

.container
    .row
        .col-md-12
            h2= $i18n.home.partners.title
            p
                a(href='http://cnc.fr/')
                    img(src='/static/images/partners/cnc.png')
                a(href='http://www.bretagne.bzh/')
                    img(src='/static/images/partners/bretagne.png')
                a(href='https://metropole.rennes.fr/')
                    img(src='/static/images/partners/rennes.png')
                a(href='https://developer.microsoft.com/en-us/games/')
                    img(src='/static/images/partners/microsoft-azure.png')
                a(href='http://www.xsolla.com/')
                    img(src='/static/images/partners/xsolla.png')
                a(href='https://aws.amazon.com/fr/gametech/?nc1=h_ls')
                    img(src='/static/images/partners/aws-game-tech.png')
