//- Presentation
.container
    .row
        .col-md-6
            h2= $i18n.home.presentation.title

            != md($i18n.home.presentation.text)

            h2= $i18n.home.presentation.secondTitle

            != md($i18n.home.presentation.secondText)

        .organizers
            .col-md-6
                p= $i18n.home.presentation.organized
            .col-md-3.col-xs-6
                a(href='http://www.atlangames.com/')
                    img(src='/static/images/logo-atlangames.png')
            .col-md-3.col-xs-6
                a(href='http://www.3hitcombo.fr/')
                    img(src='/static/images/logo-3hitcombo.png')
