//- Contact
include ../mixins/reassurement

.container
    .row
        .col-md-12
            +reassurement('conferences', 'microphone')
            +reassurement('participants', 'users')
            +reassurement('dayscounter', 'calendar')
