//- Contact
include ../mixins/reassurement

.container
    .row
        .col-md-12
            +reassurement('share', 'beer')
            +reassurement('learn', 'lightbulb-o')
            +reassurement('create', 'code')
