//- Schedule
.container
    .row
        .col-md-12
            h2= $i18n.home.schedule.title

            != md($i18n.home.schedule.text)

            div.text-center
                a.primary-button(href='./schedule.html')
                    i.fa.fa-list &nbsp;&nbsp;
                    | #{$i18n.home.schedule.button}&nbsp;
