//- Speakers
include ../mixins/speaker

.container
    .row
        // h4= $i18n.home.speakers.last
        // br
        // br

        - for (var i = 0; i < $i18n.home.speakers.list.length; i++)
            +speaker($i18n.home.speakers.list[i])

        .col-md-12.text-center
            a.primary-button(href='./speakers.html')
                i.fa.fa-microphone &nbsp;&nbsp;
                | #{$i18n.home.speakers.button}&nbsp;
