include mixins/page

+page('page404', $i18n.page404.title + ' - ' + $i18n.header.brand, '')

    section.page404
        .container
            .row
                .col-md-12
                    h1= $i18n.page404.title
                    != md($i18n.page404.text)

                    a.primary-button(href='./schedule.html')
                        i.fa.fa-list &nbsp;&nbsp;
                        | #{$i18n.page404.scheduleButton}&nbsp;

