include mixins/page
include mixins/speaker

+page('concept', $i18n.concept.title + ' - ' + $i18n.header.brand, '')

    section.concept
        .container
            .row
                .col-md-12
                    h1= $i18n.concept.title

                    != md($i18n.concept.text)

                    .text-center
                        a.primary-button(href='./schedule.html')
                            i.fa.fa-list &nbsp;&nbsp;
                            | #{$i18n.concept.scheduleButton}&nbsp;

