// Execute code on playlist page to get videso infos
  JSON.stringify([...document.querySelectorAll("#contents #content")].map(e => {
    const title = e.querySelector("#video-title").innerText
    const url = e.querySelector("a").href
    const image = e.querySelector("#img").src
    return { title, url, image }
  }))

-
  const videos = [
    {
      "title": "Alain Puget - Utiliser Unity autrement",
      "url": "https://www.youtube.com/watch?v=UdiMvKMeRiA&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&index=2&t=0s",
      "image": "https://i.ytimg.com/vi/UdiMvKMeRiA/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBG75j1bJHTCc9tvdH-yj_YEbupBA"
    },
    {
      "title": "Benoit Foultier - La pochette surprise Unity pour programmateur accompli",
      "url": "https://www.youtube.com/watch?v=IYJmg5lk0jo&index=3&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&t=0s",
      "image": "https://i.ytimg.com/vi/IYJmg5lk0jo/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCnBq8mDtsr4dL5LZXtjSIgrYcebw"
    },
    {
      "title": "Erik Geslin - Emotional Character Design",
      "url": "https://www.youtube.com/watch?v=1NgqzPZ17QY&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&index=4&t=0s",
      "image": "https://i.ytimg.com/vi/1NgqzPZ17QY/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLD6hJwkbtO0m8m0IpbemIberkeqsQ"
    },
    {
      "title": "Fibre tigre - Fiction interactive par embranchements",
      "url": "https://www.youtube.com/watch?v=XK8DuYULiso&index=5&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&t=0s",
      "image": "https://i.ytimg.com/vi/XK8DuYULiso/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCsHSDAvVhFsL8ram6t-LnqwLZibA"
    },
    {
      "title": "Florent de Grissac - Biais culturels dans le jeu vidéo",
      "url": "https://www.youtube.com/watch?v=fULFUT4BrAQ&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&index=6&t=0s",
      "image": "https://i.ytimg.com/vi/fULFUT4BrAQ/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLAU6G0pRcLWrn8JjnfNDhBI9RKSuA"
    },
    {
      "title": "Florent Maurin Le sentiment d'impuissance dans enterre moi, mon amour",
      "url": "https://www.youtube.com/watch?v=WDs33RE6pIY&index=7&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&t=0s",
      "image": "https://i.ytimg.com/vi/WDs33RE6pIY/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLC-3PXoP1m16P9fznk0x7HynfyEwA"
    },
    {
      "title": "Guillaume Breton - Pixels Art : Techniques & Tips",
      "url": "https://www.youtube.com/watch?v=WwS0N3ZHHH8&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&index=8&t=0s",
      "image": "https://i.ytimg.com/vi/WwS0N3ZHHH8/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCsn44UgOXw54t4iz66sQUcI6VOhw"
    },
    {
      "title": "Jehanne Rousseau - Créer des mondes ludiques : penser en profondeur",
      "url": "https://www.youtube.com/watch?v=-ont9w9x4zM&index=9&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&t=0s",
      "image": "https://i.ytimg.com/vi/-ont9w9x4zM/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLD-R8CPzbtv5n3ztVjiAGG7Vd20xQ"
    },
    {
      "title": "Jessica Bruno - Communication & community management pour Absolver",
      "url": "https://www.youtube.com/watch?v=2AczvTOtqMY&index=10&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&t=0s",
      "image": "https://i.ytimg.com/vi/2AczvTOtqMY/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLCd9rF1Fis6i3nkZhcO8lJ_hsoIzg"
    },
    {
      "title": "Lionel Prévot - Financer sa production de jeu vidéo",
      "url": "https://www.youtube.com/watch?v=R1cniOIZkhU&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&index=11&t=0s",
      "image": "https://i.ytimg.com/vi/R1cniOIZkhU/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLBqFKZ-ey8zg-vAcJ3lFGqAHNLYTA"
    },
    {
      "title": "Louis Godart - De musicien à sound designer, un voyage inattendu",
      "url": "https://www.youtube.com/watch?v=SqyZ77jNX9M&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&index=12&t=0s",
      "image": "https://i.ytimg.com/vi/SqyZ77jNX9M/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLD5YVB3s1UcZorLeUscx_XBBRMhUA"
    },
    {
      "title": "Thomas Altenburger - Développement cross-platform console avec Monogame",
      "url": "https://www.youtube.com/watch?v=0r0srhB4zvs&index=13&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&t=0s",
      "image": "https://i.ytimg.com/vi/0r0srhB4zvs/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLDcVWJK2hlvjdsGRn9QAhNkm7XrYQ"
    },
    {
      "title": "Sabrina Calvo - La mer sait décliner les bleus",
      "url": "https://www.youtube.com/watch?v=FItLEC4hYac&index=14&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&t=0s",
      "image": "https://i.ytimg.com/vi/FItLEC4hYac/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLCGsTNyKqhj6MV8cPx_DsA60fl7BQ"
    },
    {
      "title": "Matthieu Oger - Jeux vidéo et outils : We're doin'it wrong !",
      "url": "https://www.youtube.com/watch?v=0RmAe55pXa4&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&index=15&t=0s",
      "image": "https://i.ytimg.com/vi/0RmAe55pXa4/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLDjTIMxHE7iFPa3V9_h6dYEKNDGKA"
    },
    {
      "title": "Yann Van Der Cruyssen - Thèmes au hasard",
      "url": "https://www.youtube.com/watch?v=XUY6ruDNfgM&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&index=16&t=0s",
      "image": "https://i.ytimg.com/vi/XUY6ruDNfgM/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLD33wFSJTouf4Oj81n9ZdYfrKpAsg"
    },
    {
      "title": "Dominic Carpentier - Akimo : L'odyssée d'un jeu sérieux",
      "url": "https://www.youtube.com/watch?v=gQQbPu3CxrQ&index=18&list=PLX29Y0Ooufyk8s10EQB81c7ZIbCqH2jWJ&t=0s",
      "image": "https://i.ytimg.com/vi/gQQbPu3CxrQ/hqdefault.jpg?sqp=-oaymwEYCKgBEF5IVfKriqkDCwgBFQAAiEIYAXAB&rs=AOn4CLDItCzgTj9ovjYhfUC3LJsQ2BAWoA"
    }
  ]


include mixins/page

+page('conferences', $i18n.conferences2018.title + ' - ' + $i18n.header.brand, '')

    section.conferences
        .container
            .row
                .col-md-12
                    h1= $i18n.conferences2018.title

                    .gallery
                        each video in videos
                            a(href=video.url target="_blank")
                                img(src=video.image)
                                span= video.title
