include mixins/page

+page('gamejam', $i18n.gamejam.title + ' - ' + $i18n.header.brand, '')

    section.info
        .container
            .row
                .col-md-12
                    h1= $i18n.gamejam.title

                    != md($i18n.gamejam.text)

                .text-center
                        a.primary-button(href='./tickets.html')
                            i.fa.fa-ticket &nbsp;&nbsp;
                            | #{$i18n.gamejam.button}&nbsp;
