include mixins/page
include mixins/section

+page('home', $i18n.home.title, $i18n.home.description)

    include index/intro

    - var sectionNumber = 0
    +section('presentation', ++sectionNumber)
        include index/presentation

    +section('reassurement', ++sectionNumber)
        include index/reassurement1

    +section('schedule', ++sectionNumber)
        include index/schedule

    //- +section('speakers', ++sectionNumber)
    //-     include index/speakers

    +section('reassurement', ++sectionNumber)
        include index/reassurement2

    //- +section('map', ++sectionNumber)
    //-     include index/map
    //- +section('empty', ++sectionNumber)

    +section('partners', ++sectionNumber)
        include index/partners

    //- Mapbox
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js')
