include mixins/page
include mixins/section

+page('info', $i18n.info.title + ' - ' + $i18n.header.brand, '')

    section.info
        .container
            .row
                .col-md-12
                    h1= $i18n.info.title

                    != md($i18n.info.text)

                each venue in $i18n.info.venues
                    .col-md-6
                        h2
                            i.fa.fa-map-marker
                            | &nbsp; #{venue.name}
                        p= venue.description
                        - if (venue.bus)
                            each b in venue.bus
                                p
                                    i.fa.fa-bus
                                    | &nbsp; #{b}

    section.revolugo.even
        .container
            .row
                h2= $i18n.info.hotels
                script(id="revolugo-widget" src="https://widget.revolugo.com/embed" data-wid="addon")

    //- Mapbox
    script(src='https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js')
