include mixins/page
include mixins/section

+page('photos', $i18n.photos.title + ' - ' + $i18n.header.brand, '')

    section.photos
        .container
            .row
                .col-md-12
                    h1= $i18n.photos.title

                    a(href="photos-2019.html") Photos 2019
                    br
                    br

                    != md($i18n.photos.text)

                    .gallery
                        each image in glob.sync('src/static/images/photos/2018/*_thumb.jpg')
                            - const thumbUrl = image.replace(/^src/, '')
                            - const photoUrl = thumbUrl.replace('_thumb', '')
                            a(href=photoUrl)
                                img(src=thumbUrl)
