include mixins/page

+page('schedule', $i18n.schedule2021.title + ' - ' + $i18n.header.brand, '')

    section.schedule
        .container
            .row
                .col-md-6
                    h1= $i18n.schedule2021.title
                    a.primary-button(href='https://addon-2021.b2match.io/agenda')
                            i.fa.fa-list &nbsp;&nbsp;
                            | #{$i18n.schedule2021.button}&nbsp;
                .col-md-6
                    include includes/mailing
                .col-md-12
                    img.schedule-img(src='/static/images/schedules/schedule2021.jpeg')
                .col-md-12
                    include includes/archives
