include mixins/page

+page('schedule', $i18n.schedule2019.title + ' - ' + $i18n.header.brand, '')

    section.schedule
        .container
            .row
                .col-md-12
                    h1= $i18n.schedule2019.title

                each day in $i18n.schedule2019.days
                    .day.col-md-3.col-sm-6
                        .date
                            i.fa.fa-calendar-o
                            | &nbsp; #{day.date}
                        each activity in day.activities
                            .activity
                                .venue
                                    i.fa.fa-map-marker
                                    | &nbsp; #{activity.venue}
                                .text= activity.text
                        .pricing= day.pricing

                .col-md-12

                    a#sched-embed(href='https://addon2019.sched.com/') View the ADDON schedule
                    script(src='//addon2019.sched.com/js/embed.js')

                    include includes/archives
