include mixins/page
//-include mixins/speaker

+page('speakers', $i18n.speakers2017.title + ' - ' + $i18n.header.brand, '')

    section.speakers
        .container
            .row
                .col-md-12
                    h1= $i18n.speakers2017.title

                    a#sched-embed(href='https://addon2017.sched.com/directory/speakers') View the ADDON speakers
                    script(src='//addon2017.sched.com/js/embed.js')

                    include includes/archives