include mixins/page
include mixins/speaker2

-
    const speakers = [
        {
            id: "adejesus",
            name: "DE JESUS",
            firstname: "Ana Maria",
            company: "Studio Biyuyo",
            job: "Directrice Artistique",
            category: "ART / TECH ART",
            bio:
            "Sixteen years of professional experience in design of interactive experiences across several disciplines. Never far from video games. The past six years have been entirely devoted to the design of games. I love to teach thingths to people.",
            twitter: "@jesuslovesyouto",
        },
        {
            id: "bheemskerk",
            name: "HEEMSKERK",
            firstname: "Bryan",
            company: "Massive Damage",
            job: "Lead Artist",
            category: "ART / TECH ART",
            bio:
            "Toronto based artist who worked on Halcyon 6 and was the art director and lead artist on Star Renegades. He works in lots of different mediums but has developed a love for Pixel Art.",
            twitter: "@bryanheemskerk",
        },
        {
            id: "drabineau",
            name: "RABINEAU",
            firstname: "David",
            company: "Homo Ludens",
            job: "CEO & Fondateur",
            category: "DEV",
            bio:
            "CEO d’Homo Ludens, David a commencé comme GD avant de se tourner vers la Production. Son parcours international l’a mené à travailler sur des budgets très variés, à vouloir faciliter les process de développement et optimiser les coûts.",
            twitter: "@DavidRabineau",
        },
        {
            id: "elivet",
            name: "LIVET",
            firstname: "Edwige",
            company: "G4F Prod",
            job: "Sound Designer",
            category: "SOUND DESIGN",
            bio:
            "Edwige est sound designer, voice actor et voice director. Elle a travaillé récemment sur le sound design et l'intégration wwise du Donjon de Naheulbeuk, et a été actrice voix sur Mechanicus.",
            twitter: "AUCUN",
        },
        {
            id: "ethoa",
            name: "THOA",
            firstname: "Emeric",
            company: "The Game Bakers",
            job: "CEO / Game Designer",
            category: "GAME DESIGN",
            bio:
            "Co-fondateur et directeur créatif du studio The Game Bakers, Emeric Thoa a notamment dirigé la production des jeux Furi et Haven.",
            twitter: "@emericthoa",
        },
        //- {
        //-     id: "echahi",
        //-     name: "CHAHI",
        //-     firstname: "Eric",
        //-     company: "Pixel Reef",
        //-     job: "Game Designer",
        //-     category: "GAME DESIGN",
        //-     bio:
        //-     "Eric Chahi is an independant game designer. He loves bringing innovative titles to players and exploring new fields. His significant gaming contributions are Another World, Heart of Darkness, From Dust and Paper Beast.",
        //-     twitter: "@EricChahi",
        //- },
        {
            id: "halisavakis",
            name: "ALISAVAKIS",
            firstname: "Harry",
            company: "Jumpship studio",
            job: "Technical Artist",
            category: "ART / TECH ART",
            bio:
            "Harry is a technical artist from Greece, on a never-ending journey to learn, create and share anything and everything around technical art. He also maintains a blog with shader tutorials along with a weekly digest of inspiring tweets around tech art.",
            twitter: "@HarryAlisavakis",
        },
        {
            id: "hpellegrin",
            name: "PELLEGRIN",
            firstname: "Henri-Pierre",
            company: "Freelance",
            job: "Sound Designer / Composer",
            category: "SOUND DESIGN",
            bio:
            "Henri-Pierre Pellegrin aka H-Pi est compositeur de musique de jeu vidéo depuis 2003.",
            twitter: "@hpisound",
        },
        {
            id: "jguery",
            name: "GUERY",
            firstname: "Jérémy",
            company: "Bulwark Studios",
            job: "Lead Developer",
            category: "DEV",
            bio:
            "Jérémy Guéry travaille depuis 2012 dans le développement informatique. En 2015, il crée Bulwark Studios, une entreprise de création de jeux vidéo, où il devient lead développeur. Son objectif est de proposer la meilleure expérience aux joueurs.",
            twitter: "@JeremyGuery",
        },
        {
            id: "mlourdel",
            name: "LOURDEL",
            firstname: "Mylène",
            company: "Freelance",
            job: "Spécialiste communication & marketing",
            category: "PROD / COMM / MANAGEMENT",
            bio:
            "Évoluant dans l'industrie depuis plus de 10 ans, Mylène propose désormais mes services à des studios et éditeurs de jeux indépendants. C'est un couteau-suisse qui aime toucher à tous les aspects marketing. Elle est aussi Trésorière de WIG France.",
            twitter: "@_Konala_",
        },
        {
            id: "pcorbinais",
            name: "CORBINAIS",
            firstname: "Pierre",
            company: "Freelance",
            job: "Auteur, narrative designer",
            category: "GAME DESIGN",
            bio:
            "Libraire, puis Journaliste, Pierre Corbinais a progressivement dérivé vers le jeu vidéo jusqu’à en faire son activité à plein temps. Il écrit des histoires drôles ou tristes, banales ou épiques, mais toujours des histoires d’amour.",
            twitter: "@Oujevipo",
        },
        {
            id: "tdelgado",
            name: "DELGADO",
            firstname: "Tatiana",
            company: "Out of the Blue",
            job: "Creative Director",
            category: "GAME DESIGN",
            bio:
            "Tatiana has worked as a Game Designer for 18 years. She founded Vertical Robot, being in charge of Game and Narrative Design for Red Matter. And then she co-founded Out of the Blue, devoted to narrative-driven puzzle games, releasing Call of the Sea",
            twitter: "@arilea",
        },
        //- {
        //-     id: "akorabelnikova",
        //-     name: "KORABELNIKOVA",
        //-     firstname: "Aleksandra",
        //-     company: "Eggnut",
        //-     job: "Co-founder / Creative Director",
        //-     category: "GAME DESIGN",
        //-     bio:
        //-     "Alex co-founded Eggnut - a remote decentralized indie studio, where she also does narrative design, bizdev and marketing. She’s a loud proponent of equal opportunities and representation of marginalized voices and stories.",
        //-     twitter: "@almightyplate",
        //- },
        {
            id: "ggaran",
            name: "GARAN",
            firstname: "Gwendolyn",
            company: "Freelance",
            job: "Game User Researcher",
            category: "PROD / COMM / MANAGEMENT",
            bio: "Spécialiste en Accessibilité (NeuroDiversité)",
            twitter: "@Noumenie",
        },
        {
            id: "abardou",
            name: "BARDOU",
            firstname: "Aline",
            company: "OtterWays",
            job: "CEO",
            category: "INSPIRATION",
            bio:
            "Développeuse de formation, Aline Bardou a fondé OtterWays en 2018. Elle s'est spécialisée dans les jeux engagés sur des thématiques féministe, LGBT+ ou plus généralement d’inclusivité tout en militant auprès d’associations telles que WIG.",
            twitter: "@minelya_hoilne",
        },
        {
            id: "plaloge",
            name: "LALOGE",
            firstname: "Pierre",
            company: "Seenapsis",
            job: "Art Director / Co-fondateur",
            category: "ART / TECH ART",
            bio:
            "Après avoir travaillé dans le dessin animé et l’illustration et le jeu-vidéo, Pierre a créé avec d’inestimables collaborateurs·trices, le studio Seenapsis en 2017 dont le premier jeu A Long Way Down est sorti sur PC cet été 2020.",
            twitter: "@pictfactory",
        },
        {
            id: "gdavid",
            name: "DAVID",
            firstname: "Guillaume",
            company: "Bulwark Studios",
            job: "Sound Designer / Compositeur",
            category: "SOUND DESIGN",
            bio:
            "Guillaume est compositeur, sound designer et monteur son depuis 2003, d'abord sur du DVD Interactif, puis des courts métrages étudiants et professionnels, et enfin des jeux vidéo, jusqu'à sa rencontre avec Bulwark Studios en 2017.",
            twitter: "AUCUN",
        },
        {
            id: "akrebs",
            name: "KREBS",
            firstname: "Aline",
            company: "Voodoo",
            job: "Game Artist",
            category: "ART / TECH ART",
            bio: "Aline est Game Artist depuis quelques années. Elle a notamment collaboré sur BAFL, City of Love, ou encore sur Partouche Casino Games. Elle a fondé la société Homecoming Studio et travaille maintenant pour Voodoo sur Plantopia, merge game de plantes.",
            twitter: "AloshKrebs",
        },
        {
            id: "mtramis",
            name: "TRAMIS",
            firstname: "Muriel",
            company: "Sensastic",
            job: "Game Designer",
            category: "GAME DESIGN",
            bio: "Muriel Tramis, ingénieure martiniquaise, conceptrice de jeux vidéo depuis 1986, est une pionnière de cette industrie. Elle est nommée Chevalier de la Légion d'Honneur le 14 juillet 2018. Elle met en avant le rôle culturel et éducatif du jeu vidéo.",
            twitter: "AUCUN",
        },
        {
            id: "csauveur",
            name: "SAUVEUR",
            firstname: "Christophe",
            company: "Alt Shift",
            job: "Lead Developer",
            category: "DEVELOPPEMENT",
            bio: "Développeur dans le jeu vidéo depuis plus de 15 ans, après un passage par le browser game (Feerik) et une création de studio, Christophe a rejoint Alt Shift en 2017 pour renforcer l'équipe pendant le développement de Crying Suns.",
            twitter: "chsxf",
        },
        {
            id: "blerivray",
            name: "LERIVRAY",
            firstname: "Bastien",
            company: "Eidos Montréal",
            job: "VFX Artist",
            category: "ART / TECH ART",
            bio: "Passionné par la technologie des jeux vidéos depuis toujours, j'en ai fait mon mon métier. Je travaille aujourd'hui en tant que artiste VFX sur des jeux AAA.",
            twitter: "AUCUN",
        },
        {
            id: "clbras",
            name: "LE BRAS",
            firstname: "Clément",
            company: "My Lovely Planet",
            job: "Fondateur",
            category: "FONDATEUR",
            bio: "Clément est ingénieur des Mines de Paris. Il a co-fondé le moteur de recherche solidaire Lilo.org et est le créateur du jeu mobile My Lovely Planet.",
            twitter: "AUCUN",
        },
        {
            id: "fvalembois",
            name: "VALEMBOIS",
            firstname: "Fanny",
            company: "The Shift Project",
            job: "co-pilote Pôle Culture",
            category: "PROD / COMM / MANAGEMENT",
            bio: "",
            twitter: "AUCUN",
        },
        {
            id: "fnowak",
            name: "NOWAK",
            firstname: "Frédéric",
            company: "Amazon Web Services",
            job: "Solutions Analyst",
            category: "PROD / COMM / MANAGEMENT",
            bio: "Vétéran de l'industrie du jeu vidéo et ancien CTO de start-up, Frédéric accompagne des grandes entreprises et des studios indépendants à utiliser la plateforme AWS et satisfaire leurs joueurs.",
            twitter: "AUCUN",
        },
        {
            id: "jebner",
            name: "EBNER",
            firstname: "Johannes",
            company: "Microsoft",
            job: "Technical Specialist, Azure Gaming Global Black Belt, EMEA",
            category: "PROD / COMM / MANAGEMENT",
            bio: "Johannes is a Technical Specialist in the Gaming Global Black Belt Team. He helps Game Studios & Publishers to get the most out of Microsoft Azure & the Microsoft GameStack by parnering on a deep technical and business level, leveraging his experience in building large scale game systems.",
            twitter: "AUCUN",
        },
        {
            id: "iprevost",
            name: "PREVOST",
            firstname: "Isabelle",
            company: "Ubisoft Montpellier",
            job: "Senior Engine Programmer",
            category: "DEV",
            bio: "Isabelle travaille à Ubisoft depuis 21 ans. Elle a démarré en tant que programmeur Audio à Ubisoft Annecy et travaille désormais à Ubisoft Montpellier sur BGE2 au niveau de la tech UI.",
            twitter: "AUCUN",
        },
        {
            id: "jverbroucht",
            name: "VERBROUCHT",
            firstname: "Johann",
            company: "Goblinz Studio",
            job: "CEO",
            category: "FONDATEUR",
            bio: "Fondateur de Goblinz Studio, Johann est développeur de formation et s'est lancé dans le marketing et publishing il y a quelques années. Fan de jeux de stratégie il aide les studios édités à augmenter la qualité de la production.",
            twitter: "AUCUN",
        },
        {
            id: "salexis",
            name: "D'ALEXIS",
            firstname: "Samy",
            company: "Manni Mannyòk",
            job: "Game Dev",
            category: "DEV",
            bio: "Enfant de la musique gwoka, Samy D’Alexis vis et travaille à Saint-Martin où il enseigne les arts-plastiques ainsi que la LVR Créole. Nourri de ses expériences dans le milieu culturel guadeloupéen, il participe activement à la sauvegarde de son patrimoine.",
            twitter: "AUCUN",
        },
    ];


+page('speakers', $i18n.speakersSoon.title + ' - ' + $i18n.header.brand, '')

    section.speakers
        .container
            .row
                .col-md-12
                    h1= $i18n.speakersSoon.title

                    .text-center
                        a.primary-button(href='https://addon-2021.b2match.io/agenda')
                            i.fa.fa-list &nbsp;&nbsp;
                            | #{$i18n.home.schedule.button}&nbsp;

                .col-md-12
                    - for (var i = 0; i < speakers.length; i++)
                        +speaker2(speakers[i])

                .col-md-12
                    include includes/archives
