include mixins/page

+page('speakers', $i18n.speakers2019.title + ' - ' + $i18n.header.brand, '')

    section.speakers
        .container
            .row
                .col-md-12
                    h1= $i18n.speakers2019.title

                    a#sched-embed(href='https://addon2019.sched.com/directory/speakers') View the ADDON speakers
                    script(src='//addon2019.sched.com/js/embed.js')

                    include includes/archives
