include mixins/page
include mixins/section

+page('sponsors', $i18n.sponsors.title + ' - ' + $i18n.header.brand, '')

    section.sponsors
        .container
            .row
                .col-md-12
                    h1= $i18n.sponsors.title

                .sponsor.gold.col-md-4
                    .type Gold
                    .card
                        .logo
                            a(href="https://developer.microsoft.com/en-us/games/")
                                img(src="/static/images/partners/microsoft-azure.png" alt="Microsoft Azure" width="270")
                        p Créez et gérez vos jeux sur Azure, le cloud conçu par des développeurs de jeux pour des développeurs de jeux. Passez rapidement à l’échelle en fonction de vos besoins, en payant uniquement pour ce que vous consommez, et laissez Microsoft s’occuper de l’infrastructure.
                        .links
                            a(href="https://developer.microsoft.com/en-us/games/" title="Site web")
                                i.fa.fa-link
                            a(href="https://twitter.com/MSFTGameStack" title="Twitter")
                                i.fa.fa-twitter
                            a(href="https://www.linkedin.com/company/microsoft" title="Linkedin")
                                i.fa.fa-linkedin

                .sponsor.silver.col-md-4
                    .type Silver
                    .card
                        .logo
                            a(href="http://www.xsolla.com/")
                                img(src="/static/images/partners/xsolla.png" alt="Xsolla" width="100")
                        p Xsolla is the video game commerce company, powered by Transaction Engine and Business Engine, that helps developers and publishers market, sell, connect, and optimize their games globally. The engines work seamlessly together to solve the complexities of distribution, marketing, and monetization so partners can increase their audience, sales, and revenue.
                        .links
                            a(href="http://www.xsolla.com/" title="Site web")
                                i.fa.fa-link
                            a(href="https://twitter.com/xsolla" title="Twitter")
                                i.fa.fa-twitter
                            a(href="https://www.linkedin.com/company/xsolla/" title="Linkedin")
                                i.fa.fa-linkedin

                .sponsor.silver.col-md-4
                    .type Silver
                    .card
                        .logo
                            a(href="https://aws.amazon.com/fr/gametech/?nc1=h_ls")
                                img(src="/static/images/partners/aws-game-tech.png" alt="AWS Game Tech" width="180")
                        p Derrière les grands jeux, il y a AWS Game Tech. AWS a tout ce dont vous avez besoin pour créer des jeux plus rapidement, les exécuter plus intelligemment et les développer. Nous aidons les développeurs de jeux du monde entier à créer des expériences de jeu uniques et exceptionnelles.
                        .links
                            a(href="https://aws.amazon.com/fr/gametech/?nc1=h_ls" title="Site web")
                                i.fa.fa-link
                            a(href="https://twitter.com/awsfrance" title="Twitter")
                                i.fa.fa-twitter
                            a(href="https://www.linkedin.com/company/amazon-web-services/" title="Linkedin")
                                i.fa.fa-linkedin

    section.partners
        .container
            .row
                .col-md-12
                h2.text-center= $i18n.home.partners.title
                p
                    a(href='http://cnc.fr/')
                        img(src='/static/images/partners/cnc.png')
                    a(href='http://www.bretagne.bzh/')
                        img(src='/static/images/partners/bretagne.png')
                    a(href='https://metropole.rennes.fr/')
                        img(src='/static/images/partners/rennes.png')
