include mixins/page

+page('tickets', $i18n.tickets.title + ' - ' + $i18n.header.brand, '')

    section.tickets
        .container
            .row
                .col-md-12
                    h1= $i18n.tickets.title

                //- .col-md-6
                //-     h2= $i18n.tickets.offline.title
                //-     != md($i18n.tickets.offline.text)
                .col-md-12
                    //- h2= $i18n.tickets.online.title
                    != md($i18n.tickets.online.text)

                .col-md-12(style='margin-top: 30px')
                    #eventbrite-widget-container-126551271259
                    script(src='https://www.eventbrite.fr/static/widgets/eb_widgets.js')
                    script(type='text/javascript').
                        window.EBWidgets.createWidget({
                          widgetType: 'checkout',
                          eventId: '126551271259',
                          iframeContainerId: 'eventbrite-widget-container-126551271259',
                          iframeContainerHeight: 735
                        });

                    .text-center
                      a(href='https://www.eventbrite.fr/e/billets-addon-2021-126551271259' target='_blank')= $i18n.tickets.eventbriteButton

