include mixins/page

+page('tickets', $i18n.tickets.title + ' - ' + $i18n.header.brand, '')

    section.tickets
        .container
            .row
                .col-md-12
                    h1= $i18n.tickets.title

                    #eventbrite-widget-container-54399218527
                    script(src='https://www.eventbrite.fr/static/widgets/eb_widgets.js')
                    script(type='text/javascript').
                        window.EBWidgets.createWidget({
                          widgetType: 'checkout',
                          eventId: '54399218527',
                          iframeContainerId: 'eventbrite-widget-container-54399218527',
                          iframeContainerHeight: 735
                        });

                    .text-center
                      a.primary-button(href='https://www.eventbrite.fr/e/billets-addon-2019-54399218527' style='margin-left: auto; margin-right: auto;')
                        i.fa.fa-ticket &nbsp;&nbsp;
                        | #{$i18n.tickets.eventbriteButton}&nbsp;
