include mixins/page

+page('tickets', $i18n.tickets.title + ' - ' + $i18n.header.brand, '')

    section.tickets
        .container
            .row
                .col-md-6
                    h1= $i18n.tickets.title
                    p!= md($i18n.tickets.soon)
                .col-md-6
                    include includes/mailing
                .col-md-12
                    include includes/archives