.archives {
  h2 {
    margin-top: 70px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    strong {
      margin-right: 25px;
      position: relative;
      &:after {
        content: "•";
        position: absolute;
        right: -25px;
      }
    }
    a {
      margin-left: 15px;
    }
  }
}
