/* Base styles */

figure {
  margin: 0;
}

a {
  text-decoration: underline;
  transition: $transition;

  &:focus, &:active, &:hover {
    outline: none;
  }
}

p {
  line-height: 1.4em;
  font-weight: 300;
}

*:focus {
  outline: none;
}

blockquote {
  font-size: 1em;
  font-style: italic;
}

.tooltip {
  &.bottom {
    margin-top: 20px;
  }
  &.in {
    opacity: 1;
  }
}
.tooltip-inner {
  padding: 15px;
}