/* Primary Button */
.primary-button,
.primary-button:focus {
  background: $lightColor1;
  text-decoration: none;
  color: $lightColor3;
  font-size: 1.1em;
  padding: 10px 35px;
  margin-top: 30px;
  display: inline-block;
  border: none;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  i {
    padding-left: 5px;
    position: relative;
    top: 1px;
  }
  &:hover {
    text-decoration: none;
    color: $darkColor1;
  }
  &:before {
    background: $lightColor2 none repeat scroll 0 0;
    color: $darkColor1;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
    transition: $transition;
    border-radius: 3px;
  }
  &:hover:before {
    width: 100%;
    color: #fff;
  }
}

@media (max-width: 1200px) {
  .primary-button,
  .primary-button:focus {
    font-size: 1em;
  }
}
