/* Footer */
footer {
  padding: 0 0 50px 0;
  background: $primaryColor;
  position: relative;
  img.footer-logo {
    display: block;
    margin: 0 auto;
    height: 30px;
  }
  .copyright-text {
    p {
      white-space: pre-line;
      text-align: center;
      margin: 20px 0;
      color: $lightColor3;
    }
    a {
      color: $lightColor3;
      text-decoration: underline;
      &:hover {
        color: $lightColor2;
        text-decoration: underline;
      }
    }
  }
  ul.footer-social {
    text-align: center;
    li {
      margin-right: 40px;
      &:last-child {
        margin-right: 0;
      }
      a {
        font-size: 24px;
        color: #fff;
      }
    }
  }
}
