/* Header Navigation */
#header-static {
  height: 94px;
}
body.home {
  #header-static {
    height: 0;
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  nav {
    transition: background-color 2s ease;
    background: $primaryColor;
    padding: 25px 0;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
    .navbar-brand {
      // Show only on scroll
      opacity: 0;
      padding: 0;
      height: 30px;
      transition: opacity 0.5s ease, height 0.5s ease;
      img {
        height: 30px;
        transition: height 0.5s ease;
      }
    }
    .navbar-header {
      margin-top: 5px;
    }
    ul.nav {
      margin-top: 9px;
      li {
        a {
          position: relative;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 14px;
          font-weight: 500;
          color: $lightColor3;
          padding: 0 12px 5px;
          &:hover {
            color: $lightColor3;
            background: none;
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
          &:focus {
            background: none;
            outline: none;
          }
          &:active {
            background: none;
            outline: none;
          }
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: $lightColor3;
            visibility: hidden;
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
          }
        }
        &.open > a,
        &.open > a:hover,
        &.open > a:focus {
          background-color: $lightColor1;
        }
        &.active {
          a {
            color: $lightColor3;
            &:before {
              visibility: visible;
              -webkit-transform: scaleX(1);
              transform: scaleX(1);
            }
          }
        }
        .dropdown-menu {
          border: none;
          padding-top: 12px;
          background-color: $lightColor1;
          a {
            text-transform: none;
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .is-sticky nav {
    .navbar-brand {
      opacity: 1;
    }
  }
}

// Bigger logo on pages other than home
body:not(.home) .sticky-wrapper:not(.is-sticky) {
  .navbar-brand {
    opacity: 1;
  }
}
@media (min-width: 1200px) {
  body:not(.home) .sticky-wrapper:not(.is-sticky) {
    .navbar-brand {
      height: 60px;
      img {
        height: 60px;
      }
    }
  }
}

@media (max-width: 991px) {
  header .navbar > .container {
    .navbar-brand {
      margin-left: 0;
      height: 20px;
      img {
        height: 20px;
      }
    }
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  header .navbar > .container {
    .navbar-collapse {
      padding: 0;
      ul.nav {
        li a {
          padding: 0 0 5px 0;
          margin-right: 24px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header nav {
    padding: 10px 0 0 0 !important;
    ul.nav {
      background: $primaryColor;
      &.navbar-right {
        float: none !important;
      }
      li a {
        height: 40px;
        line-height: 40px;
      }
    }
    .navbar-header {
      padding: 0 15px;
    }
    .navbar-toggle {
      position: absolute;
      top: 8px;
      right: 8px;
      margin: 0;
      float: none;
    }
    .navbar-toggle .icon-bar {
      background: $lightColor3;
    }
  }
  body:not(.home) {
    #header-static {
      height: 50px;
    }
  }
}
