.mailing-signup {
  .email {
    margin-top: 10px;
    font-size: 1em;
    padding: 9px;
    border: 1px solid $lightColor1;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: inherit;
    width: 320px;
  }
  button.primary-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-top: 10px;
    font-size: 1em;
    &:before {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}
